body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;
}
.header{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.questionList{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: rgb(1, 7, 123);
	font-size: x-large;
	text-align: center;
    border-style:double;
    color: #ed33bf;
}
.h1 {
    margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: rgb(1, 7, 123);
	font-size: x-large;
	text-align: center;
    border-style:double;
    color: #ed33bf;
}
